<ng-container *ngIf="{user: loggedUser$ | async} as data">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon slot="start" name="menu"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Mon compte</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="data.user">
    <h3 class="marged-title">{{data.user?.profile.pseudo}}</h3>
    <div class="info-row">
      <span class="info-label">Email :</span>
      <span class="info-value">{{'&nbsp;'}}{{data.user?.email}}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Date de naissance :</span>
      <span class="info-value">{{'&nbsp;'}}{{data.user?.profile.birthday | date:'dd/MM/yy'}}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Produits en vente :</span>
      <span class="info-value">{{'&nbsp;'}}{{data.user?.onSale.length}}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Enchères en cours :</span>
      <span class="info-value">{{'&nbsp;'}}{{data.user?.onBid.length}}</span>
    </div>
  </ion-content>
</ng-container>
