:host {
  content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .add-product-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-product-btn:focus {
    outline: none;
  }
}