<ng-container *ngIf="{product: product$ | async} as data">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-product-details [product]="data.product"></app-product-details>
  </ion-content>
</ng-container>

