<ion-list *ngIf="products; else noProduct">
  <ng-container *ngFor="let product of products">
    <app-product-list-item [product]="product"></app-product-list-item>
  </ng-container>
</ion-list>
<ng-template #noProduct>
  <div class="no-product">
    <span>Aucun produit</span>
  </div>
</ng-template>

