<ng-container *ngIf="{products: products$ | async} as data">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon slot="start" name="menu"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Annonces</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-product-list [products]="data.products"></app-product-list>
  </ion-content>
</ng-container>

