:host {
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-item {
      width: 100%;
    }
  }
  .add-btn {
    margin-top: 1rem;
  }
}
