<form [formGroup]="productForm" (ngSubmit)="addProduct()">
  <ion-item>
    <ion-label position="floating">Nom du produit</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Catégorie</ion-label>
    <ion-select placeholder="Catégorie" formControlName="categories">
      <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Durée de l'enchère</ion-label>
    <ion-input type="number" formControlName="duration"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prix de départ</ion-label>
    <ion-input type="number" formControlName="startPrice"></ion-input>
  </ion-item>
  <ion-button type="submit" class="add-btn">
    Ajouter
  </ion-button>
</form>
