:host {
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    .title {
      font-size: 1.5rem;
      margin: 2rem
    }
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-item {
      width: 100%;
    }
    a {
      margin: .5rem 1rem 1rem 1rem;
    }
  }
}
