<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <span class="title">Connexion</span>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <a [routerLink]="['/register']">S'inscrire</a>
    <ion-button type="submit">
      Connexion
    </ion-button>
  </form>
</ion-content>
