
<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <span class="title">Inscription</span>
    <ion-item>
      <ion-label position="floating">Pseudo</ion-label>
      <ion-input type="text" formControlName="pseudo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date de naissance</ion-label>
      <ion-input type="date" formControlName="birthday" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmation du mot de passe</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Se connecter</a>
    <ion-button type="submit">Inscription</ion-button>
  </form>
</ion-content>
