<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="top-menu">
          <ion-list-header><h3>Bid It</h3></ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of topLinks; let i = index">
            <ion-item routerDirection="root"
                      [routerLink]="[p.url]"
                      lines="none"
                      detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="bottom-menu">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" 
                      [routerLink]="[p.url]" 
                      lines="none" 
                      detail="false"
                      *ngFor="let p of bottomLinks; let i = index">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item (click)="logout()">
              <ion-icon slot="start" [ios]="'exit' + '-outline'" [md]="'exit'"></ion-icon>
              <ion-label>{{ 'Déconnexion' }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>