<ng-container *ngIf="{uid: ownerId$ | async} as data">
  <div *ngIf="data.uid && product" class="container">
    <h3 class="marged-title">{{product.title}}</h3>
    <div class="info-row">
      <span class="info-label">Catégorie :</span>
      <span class="info-value">{{'&nbsp;'}}{{product.categories}}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Prix de départ :</span>
      <span class="info-value">{{'&nbsp;'}}{{product.startPrice}}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Nombre d'enchères :</span>
      <span class="info-value">{{'&nbsp;'}}{{product.bids.length}}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Prix actuel : </span>
      <span class="info-value">{{'&nbsp;'}}{{getCurrentPrice()}}</span>
    </div>
    <form (ngSubmit)="bid()" [formGroup]="bidForm" *ngIf="data.uid !== product.owner; else owner">
      <div class="bid-controller">
        <ion-button class="bid-btn" (click)="bidDown()" [disabled]="isBidDisable(data.uid)">-</ion-button>
        <ion-item>
          <ion-input type="number"
                      name="amount"
                      formControlName="amount"
                      [(ngModel)]="bidValue"
                      class="bid-input"></ion-input>
          <span>€</span>
        </ion-item>
        <ion-button class="bid-btn" (click)="bidUp()" [disabled]="isBidDisable(data.uid)">+</ion-button>
      </div>
      <ion-button type="submit" [disabled]="isBidDisable(data.uid)">Enchérir</ion-button>
      <span *ngIf="isBidDisable(data.uid)" class="legend">Vous êtes auteur de la plus grosse offre.</span>
    </form>
    <ng-template #owner>
      <div class="owner-controller">
        <ion-button color="danger" (click)="deleteProduct()" [disabled]="product.bids.length > 0">Delete</ion-button>
      </div>
    </ng-template>
  </div>
</ng-container>