:host {
  .container {
    width: 100%;
    height: 100%;
    padding: .5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    .bid-input {
      width: 5rem;
      text-align: center;
    }
    .bid-controller {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      .bid-btn {
        margin: 0 .5rem;
      }
    }
    .legend {
      margin-top: .5rem;
      text-align: center;
    }
  }

  .owner-controller {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
}