<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-product-add></app-product-add>
</ion-content>
